.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: inset 55vw 0 0 0 var(--black-clr-alt),
                inset -55vw 0 0 0 var(--black-clr-alt);
    display: grid;
    place-items: center;
    z-index: 1000;
}
.preloader.loaded {
    transition: 300ms ease 500ms;
    pointer-events: none;
    box-shadow: inset 0 0 0 0 var(--black-clr-alt),
                inset 0 0 0 0 var(--black-clr-alt);
}
.preloader .preloader-line {
    width: 1px;
    height: 100%;
    background-color:var(--white-alt);
    transition: 0.5s ease;
    animation: loading 2000ms linear forwards;
}
@keyframes loading {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(0.3);}
}
.preloader.loaded .preloader-line {animation: loaded 2000ms ease forwards;}
@keyframes loaded {
    0% {transform: scaleY(0.3);}
    100% {
      transform: scaleY(1);
      opacity: 0;
    }
}